[MESSAGES CONTROL]

disable=logging-fstring-interpolation,
        line-too-long,
        too-many-locals,
        too-many-arguments

[LOGGING]

# Format style used to check logging format string. `old` means using %
# formatting, while `new` is for `{}` formatting.
logging-format-style=new

[REPORTS]

output-format=colorized