attrs==22.1.0
bitstring==4.0.1
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
protobuf==3.20.3
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
pytest-mock==3.10.0
python-periphery==2.3.0
tomli==2.0.1

--extra-index-url https://test.pypi.org/simple/
EdgePi-Python-SDK==1.1.0