# This workflow will build and publish the package to TestPyPI upon push or merge to dev branch

name: Build and Publish to TestPyPI

on:
  push:
    branches:
      - 'dev'

jobs:
  build-and-publish:
    name: Build and publish Package to TestPyPI
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements_build.txt ]; then python -m pip install -r requirements_build.txt; fi
    - name: Build Package
      run: |
        python -m build
    - name: Publish Package to TestPyPI
      run: |
        python -m twine upload --repository testpypi dist/* --verbose
