# This workflow will install Python dependencies, run tests using PyTest.

name: PyTest

on: [push]

jobs:
  build:

    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m venv venv_test
        source venv_test/bin/activate
        python -m pip install pytest
        if [ -f requirements_test.txt ]; then pip install -r requirements_test.txt; fi
    - name: Test with pytest
      run: |
        source venv_test/bin/activate
        pytest ./src/test_edgepi
